@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: max-content;
    
}

h1::before,
h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before{
    background-color: rgb(255, 255, 255);
    animation: type 4s steps(11) 1s forwards;
}
h1::after{
    width: 0.125em;
    background-color: black;
    animation: type 4s steps(11) 1s forwards,
    blink 800ms steps(11) infinite;
}

@keyframes type {
    to {
        left: 100%;
    }
}

@keyframes blink{
    from{
        background-color: black;
    }
    to{
        background-color: transparent;
    }
}